<div>
  <h1>Parabéns!</h1>
  <h4>Seu componente está sendo exibido em tela</h4>
  <hr>
  <h5>Como aparece o seu evento abaixo?</h5>
<div *ngFor="let evento of evento">
  <div style="margin-top:30px">
    Evento: {{ evento?.name }}
  </div>
  <div>
    Data: <app-datas [data]="evento?.date"></app-datas>
  </div>
  <div>
    Hora: {{ evento?.time }}
  </div>

  <div *ngIf="evento.location">
    Endereço:
      <app-endereco [endereco]="evento?.location?.address"></app-endereco>
      <app-endereco [cidade]="evento?.location?.city"></app-endereco>
      <app-endereco [pais]="evento?.location?.country" ></app-endereco>
      <app-endereco (atualizarEndereco)="receberEnderecoAtualizado($event)"></app-endereco>
</div>

</div>
